body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: #ff69b4;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* border-bottom: 1px solid blue;*/
    /* border-bottom-style: dotted;*/
  }
  
  h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic; /* Uses the real italic version of the font */
  }
  
  ul {
    /*background-color: #eeeeee;
    border-color: purple;
    border-width: 5px;
    border-style: solid;
    padding: 2em;*/
  }
  
  li[class="white"] {
    background-color: white;
  }

  li[class="grey"] {
    background-color: #eeeeee;
  }
  .job-title {
    color: #999999;
    font-weight: bold;
  }
  

.external:after {
  background-color: var(--icon-primary);
  content: "";
  display: inline-flex;
  height: 10px;
  margin-left: 4px;
  -webkit-mask-image: url(/static/media/external.ad7e40a95bc765963433.svg);
  mask-image: url(/static/media/external.ad7e40a95bc765963433.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 10px
}

  /*a:link,
  a:visited {
    color: #375acd;
  }
  
  a:hover {
    text-decoration: rebeccapurple;
  }*/

a:link,
a:visited {
  color: #375acd;
  font-weight: bold;
}

a:hover {
  color: hotpink;
}